ux-dialog > ux-dialog-footer button.btn {
    margin: 0px 0px 0px 5px;
}

ux-dialog > ux-dialog-footer button.btn-primary:hover:enabled {
    color: #FFFFFF;
    background-color: #74b517;
    border-color: #7DC319;
}

input:invalid {
    outline-color: transparent;
}

ux-dialog > ux-dialog-footer button.btn-default:hover:enabled {
    color: inherit;
    border: 1px solid #d2d2d2;
}

ux-dialog-overlay, ux-dialog-container {
    z-index: 1002 !important;
}

ux-dialog-overlay.active {
    background-color: black;
    opacity: .5 !important;
}

ux-dialog {
    padding: 0px;
    position: relative;
    width: 500px !important;
}

ux-dialog > ux-dialog-body {
    position: relative;
    display: inline;
    padding: 0;
}

ux-dialog > ux-dialog-header.empty-header {
    padding: 0;
    border-bottom: none;
}

.ux-dialog-padding {
    padding: 16px;
}

.ux-dialog-lr-padding {
    padding: 0 16px 0 16px;
}

ux-dialog > ux-dialog-footer {
    padding: 16px
}

ux-dialog-container.active {
    background-color: rgba(60, 60, 60, 0.4)
}
