h6 {
  text-transform: uppercase;
}

.container {
  padding-top: 5px;
}

.container-fluid {
  padding-top: 5px;
}

ux-dialog-overlay.active {
  background-color: black;
  opacity: 1;
}

.strong {
  font-weight: bold;
}

.font-weight-bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}


